<!-- About Section -->
  <section id="about" class="bg-light-gray">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About US</h2>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>
        <p class="long-text">
          Google Developer Group (GDG) Wellington is a friendly, inclusive, supportive, accessible, and community focused group of people that meet regularly to discuss the latest developments in Google’s ecosystem.
        </p>
        <p class="long-text">
          Cocoaheads Wellington is a group devoted to the discussion of Apple's Cocoa and CocoaTouch Frameworks for programming on iOS, watchOS, tvOS, and macOS.
        </p>
        <p class="text-muted">
          Disclaimer: GDG Wellington is an independent group; our activities and the opinions expressed here should in no way be linked to Google, the corporation.
        </p>
      </div>
  </section>
