<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="https://www.google.com/maps/dir//-41.2895167,174.7680383/@-41.28943,174.7671746,19z" target="_blank">Getting Here</a>
                    </li>-->
                    <li>
                        <a class="page-scroll" href="#sessions">Sessions</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#speakers">Speakers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sponsors">Sponsors</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#code_of_conduct">Code of Conduct</a>
                    </li>

                    <!--li>
                        <a href="https://mobile-refresh-2017.lilregie.com/" target="_blank" class="page-scroll btn btn-invert">Register Now</a>
                    </li-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">One-day conference for 200 mobile technology enthusiasts</div>
                <!-- <div class="intro-lead-in">Thanks to all the attendees and supporters of Mobile Refresh</div> -->
                <br/><br/>
                <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Mobile+Refresh+2017&dates=20170722T074500Z/20170722T173000Z&ctz=Pacific/Auckland&details=Check+back+soon,+http://mrw.gdg.nz&location=Wellington,+New+Zealand&sf=true&output=xml" target="_blank" class="page-scroll btn btn-xl">Save the Date: June 22, 2017</a>
                <!-- a href="https://mobile-refresh-2017.lilregie.com/" target="_blank" class="page-scroll btn btn-xl">Register</a -->
                <!-- <a href="http://on.gdg.nz/MRW2017" target="_blank" class="page-scroll btn btn-xl">Photos</a> -->

                <!-- <div class="section-subheading text-muted"><br/><br/>Registration is now closed</div> -->
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
