<!-- Services Section -->
    <section id="home">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Home</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div> -->
            <div class="row text-center">
                <div class="col-xs-6">
                    <a href="" target="_blank">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                    <h4 class="service-heading">Location</h4>
                    <a href="" target="_blank"><p class="text-muted">Wellington</p></a>
                </div>
                <div class="col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Date</h4>
                    <p class="text-muted">Saturday, July 22, 2017, 8:00 AM to 5:00 PM</p>
                </div>
            </div>

            <p class="long-text-extra-padding">
              GDG Wellington, together with Cocoaheads Wellington is proud to bring you Mobile Refresh '17' - Wellington August 25th, 2017. Our one-day conference aims to bring together 200 mobile technology enthusiasts who are interested in debating the latest developments announced at Google I/O and WWDC.
            </p>
            <p class="long-text">
              Mobile Refresh will provide content for designers, developers, testers, or just about anyone passionate about mobile development. We took your feedback on board, so this year the conference will feature a predefined stream of talks running alongside several unconference-style discussions.
            </p>
            <p class="long-text">
              While we are very priviledged to receive support from Google, all attendees should expect discussions that cover both iOS and Android.
            </p>
            <p class="long-text">
              We look forward to spending a day of learning and sharing with all of you. Until then, you can reach us via <a href="https://twitter.com/GDGWellington" target="_blank">Twitter</a> or <a href="http://slack.gdg.nz/" target="_blank">Slack</a>.
            </p>
        </div>
    </section>
