<!-- Services Section -->
    <section id="home">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Home</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div> -->
            <div class="row text-center">
                <div class="col-xs-6">
                    <a href="" target="_blank">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                    <h4 class="service-heading">Location</h4>
                    <a href="" target="_blank"><p class="text-muted">To Be Announced</p></a>
                </div>
                <div class="col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Date</h4>
                    <p class="text-muted">Saturday, July 22, 2016, 8:00 AM to 5:00 PM</p>
                </div>
            </div>

            <p class="long-text-extra-padding">
              GDG Wellington, together with Cocoaheads Wellington is proud to bring you Mobile Refresh - Wellington July 22nd, 2017. Our one-day conference is aimed at 150 mobile technology enthusiasts who are interested in a quick update on the latest developments announced at Google I/O and WWDC.
            </p>
            <p class="long-text">
              Mobile Refresh will provide content for designers, developers, testers, or just about anyone passionate about mobile development. The vast majority of the sessions will be interactive, but there is no expectation that everyone must contribute.
            </p>
            <p class="long-text">
              The conference takes a split approach: the morning is reserved for panel discussions and Q&A, while the afternoon is going to follow an un-conference format where the audience has a big say in the selection of discussion topics.
            </p>
            <p class="long-text">
              We are privileged to have a number of speakers (and a diverse set of talks) lined up for the afternoon. Please check back closer to the date for an updated agenda.
            </p>
            <p class="long-text">
              Attendees should expect discussions that cover both iOS and Android. The two platforms solve similar problems (albeit with different approaches), and it is our hope that at the end of the day everyone will have learned new things.
            </p>
            <p class="long-text">
              We look forward to spending a day of learning and sharing with all of you. Until then, you can reach us via <a href="https://twitter.com/GDGWellington" target="_blank">Twitter</a> or <a href="http://slack.gdg.nz/" target="_blank">Slack</a>.
            </p>
        </div>
    </section>
