<!-- Services Section -->
    <section id="home">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Home</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div> -->
            <div class="row text-center">
                <div class="col-xs-6">
                    <a href="https://goo.gl/maps/seowjMMNjh52" target="_blank">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                    <h4 class="service-heading">Location</h4>
                    <a href="#" target="_blank">
                        <p class="text-muted">Wellington, New Zealand</p>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Mobile%20Refresh%202018&dates=20180906T200000Z/20180906T290000Z" target="_blank">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4 class="service-heading">Date</h4>
                    <a href="#" target="_blank">
                        <p class="text-muted">7th of September</p>
                    </a>
                </div>
            </div>

            <p class="long-text-extra-padding">
                Would you like to meet the NZ mobile development community, listen to expert speakers and find out all about the latest trends in mobile technologies? Then join us at Mobile Refresh Wellington 2018, NZ’s largest mobile developer conference. GDG Wellington and Cocoaheads are proud to announce that Mobile Refresh Wellington is back for a 2018 edition.
            </p>
            <p class="long-text">
                Our one-day event on September 7, 2018 at Victoria University Wellington aims to bring together 200+ mobile technology enthusiasts. The conference attracts attendees who are interested in learning and debating about the latest developments announced at Google I/O and WWDC and general trends in mobile technologies.
            </p>
            <p class="long-text">
                Mobile Refresh Wellington will provide content for designers, developers, testers, or just about anyone passionate about mobile development. The conference is technology agnostic, we’re not a dedicated Android, iOS or mobile web event. We want to encourage attendees to look beyond their day-to-day platform of choice and keep up to date with more general trends in mobile tech.
            </p>
            <p class="long-text">
              We look forward to spending a day of learning and sharing with all of you. Until then, you can reach us via <a href="https://twitter.com/GDGWellington" target="_blank">Twitter</a> or <a href="http://slack.gdg.nz/" target="_blank">Slack</a>.
            </p>
        </div>
    </section>
