<!-- About Section -->
<section id="register">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <h2 class="section-heading">Register Now</h2> -->
        <!-- </div> -->
      </div>
      <p class="text-center">
        <a href="https://mobile-refresh-2016.lilregie.com/" target="_blank" class="page-scroll btn btn-xl">Register Now</a>
      </p>
      <p class="long-text-extra-padding">
        Registration closes on the 28th of June.
      </p>
      <p class="long-text">
        The Supporter T-shirt option is only available until June 27th.
      </p>

    </div>
  </div>
</section>
