<!-- Portfolio Grid Section -->
<span id="agenda"/>
<section id="sessions" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sessions</h2>
                <h3 class="section-subheading text-muted">We will update the list of sessions once the call for papers has closed. The un-conference talks will be updated on the site on the day of the event.</h3>
            </div>
        </div>

<!--        <p class="long-text">-->
<!--            We will provide parallel tracks. There will be a mix of structured and planned talks, and un-conference style sessions, meaning that you, the attendees, decide the topics.-->
<!--        </p>-->

        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-3">8:00am - 8:45am</div>
                <div class="col col-md-9">Registration</div>
            </div>

            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">8:45am - 9:00am</div>
                <div class="col col-md-9">
                      <span>
                          <div class="event-venue-1">MCLT101</div>
                          <div class="event-name">Intro</div>
                          <div class="speaker-name"></div>
                      </span>
                </div>
            </div>

            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">9:00am - 9:45am</div>
                <div class="col col-md-9">
                      <span>
                          <div class="event-venue-1">MCLT101</div>
                          <div class="event-name">Opening Keynote</div>
                          <div class="speaker-name"></div>
                      </span>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-3"></div>
                <div class="col col-md-9">
                      <span>
                          <div class="event-venue-1"></div>
                          <div class="event-name">12 Years on: A Retrospective</div>
                          <div class="speaker-name">Zarah Dominguez</div>
                      </span>
                </div>
            </div>

            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">9:45am - 10:15am</div>
                <div class="col col-md-9">Morning Tea & Unconference Planning</div>
            </div>

            <!-- Slot #1 -->
            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">10:15am - 11:00am</div>
                <div class="col col-md-9 zero-horizontal-padding">
                  <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-1">MCLT101</div>
                            <div class="event-name">TensorFlow for Mobile Developers</div>
                            <div class="speaker-name">Enrique Manas Lopez</div>
                        </span>
                  </div>

                  <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-2">MCLT102</div>
                            <div class="event-name">Superheroes & Forgetful teenagers Remote Device Management for iOS</div>
                            <div class="speaker-name">Michal Pearse</div>
                        </span>
                  </div>
                  <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-3">CO118</div>
                            <div class="event-name">Mobile Testing, Automation, Manual or Hybrid</div>
                            <div class="speaker-name">Tony Parrot</div>
                        </span>
                  </div>
                  <div class="col col-xs-3">
                    <span>
                        <div class="event-venue-3">CO119</div>
                        <div class="event-name"></div>
                        <div class="speaker-name">un-conference</div>
                    </span>
                </div>
                </div>
            </div>

            <!-- Slot #2 -->
            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">11:15am - 12:00pm</div>
                <div class="col col-md-9 zero-horizontal-padding">
                  <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-1">MCLT101</div>
                            <div class="event-name">iRow, Practical Machine Learning in iOS</div>
                            <div class="speaker-name">Christie Davis & Valerie Chan</div>
                        </span>
                  </div>

                  <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-2">MCLT102</div>
                            <div class="event-name">Making Things do stuff</div>
                            <div class="speaker-name">Dave McKelvie</div>
                        </span>
                  </div>
                  <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-3">CO118</div>
                            <div class="event-name">Wait, people still use email? - Boosting business with mobile email marketing</div>
                            <div class="speaker-name">Hyojin Jung</div>
                        </span>
                  </div>
                  <div class="col col-xs-3">
                    <span>
                        <div class="event-venue-3">CO119</div>
                        <div class="event-name"></div>
                        <div class="speaker-name">un-conference</div>
                    </span>
                </div>
                </div>
            </div>

            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">12:00pm - 1:00pm</div>
                <div class="col col-md-9">Lunch</div>
            </div>

            <!-- Slot #3 -->
            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">1:00pm - 1:45pm</div>
                <div class="col col-md-9 zero-horizontal-padding">
                  <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-1">MCLT101</div>
                            <div class="event-name">Android and iOS, a 100% fully serious comparison</div>
                            <div class="speaker-name">Sam Jarman & Jie Li</div>
                        </span>
                  </div>

                  <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-2">MCLT102</div>
                            <div class="event-name">Breaking the ice with Natural Language Processing</div>
                            <div class="speaker-name">Ilia Kopylov</div>
                        </span>
                  </div>
                  <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-3">CO118</div>
                            <div class="event-name">Custom vs native fonts in apps</div>
                            <div class="speaker-name">Gili Sharrock</div>
                        </span>
                  </div>
                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-3">CO119</div>
                            <div class="event-name"></div>
                            <div class="speaker-name">un-conference</div>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Slot #4 -->
            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">2:00pm - 2:45pm</div>
                <div class="col col-md-9 zero-horizontal-padding">
                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-1">MCLT101</div>
                            <div class="event-name">Flutter from idea to app in minutes</div>
                            <div class="speaker-name">Mitchell Tillbrook</div>
                        </span>
                    </div>

                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-2">MCLT102</div>
                            <div class="event-name">But doesn’t everyone with a smartphone speak English?</div>
                            <div class="speaker-name">Jennifer Doherty</div>
                        </span>
                    </div>
                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-3">CO118</div>
                            <div class="event-name">Dexs, R8 & 3.2</div>
                            <div class="speaker-name">Inaki Villar</div>
                        </span>
                    </div>
                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-3">CO119</div>
                            <div class="event-name"></div>
                            <div class="speaker-name">un-conference</div>
                        </span>
                    </div>
                </div>
            </div>

            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">2:45pm - 3:15pm</div>
                <div class="col col-md-9">Afternoon Tea</div>
            </div>

            <!-- Slot #5 -->
            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">3:15pm - 4:00pm</div>
                <div class="col col-md-9 zero-horizontal-padding">
                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-1">MCLT101</div>
                            <div class="event-name">Golang ❤️ Mobile</div>
                            <div class="speaker-name">Bridget Cowie</div>
                        </span>
                    </div>

                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-2">MCLT102</div>
                            <div class="event-name">The Power of Storytelling - My Accidental Journey as a WomenTechmakers</div>
                            <div class="speaker-name">Nazlina Quadir</div>
                        </span>
                    </div>
                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-3">CO118</div>
                            <!-- <div class="event-name">Personalized apps: from CRUD to Custom</div>
                            <div class="speaker-name">Lester Litchfield</div> -->
                            <div class="event-name"></div>
                            <div class="speaker-name">un-conference</div>
                        </span>
                    </div>
                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-3">CO119</div>
                            <div class="event-name"></div>
                            <div class="speaker-name">un-conference</div>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Slot #6 -->
            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">4:15pm - 5:00pm</div>
                <div class="col col-md-9 zero-horizontal-padding">
                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-1">MCLT101</div>
                            <div class="event-name">Scaling backend infrastructure for millions of phones</div>
                            <div class="speaker-name">Jethro Carr</div>
                        </span>
                    </div>

                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-2">MCLT102</div>
                            <div class="event-name">Build Better Android Apps with Vector Assets</div>
                            <div class="speaker-name">Luke Sleeman</div>
                        </span>
                    </div>
                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-3">CO118</div>
                            <div class="event-name">Collaborative company culture: The role of leaders in building and sustaining teams</div>
                            <div class="speaker-name">Arzoo Syeddah</div>
                        </span>
                    </div>
                    <div class="col col-xs-3">
                        <span>
                            <div class="event-venue-3">CO119</div>
                            <div class="event-name"></div>
                            <div class="speaker-name">un-conference</div>
                        </span>
                    </div>
                </div>
            </div>

            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">5:00pm - 5:30pm</div>
                <div class="col col-md-9">Conference wrap-up</div>
            </div>

            <div style="border-top: 1px lightgray dashed"/>
            <div class="row">
                <div class="col col-md-3">5:30pm - late</div>
                <div class="col col-md-9">
                    <!-- <a href="https://maps.app.goo.gl/?link=https://www.google.co.nz/maps/dir/Massey%2BUniversity%2BWellington%2BWallace%2BSt,%2BMount%2BCook,%2BWellington%2B6021/St%2BJohn%27s%2BBar%2Band%2BRestaurant,%2BWellington/@-41.2973606,174.7699891,15z/data%3D!3m1!4b1!4m14!4m13!1m5!1m1!1s0x6d38afde496fdea3:0xfc280c9100ea5113!2m2!1d174.7753445!2d-41.3027891!1m5!1m1!1s0x6d38afd13062affd:0x1f13df7df9127798!2m2!1d174.77921!2d-41.289653!3e3?hl%3Den%26utm_source%3Dapp-invite%26mt%3D8%26pt%3D9008%26utm_medium%3DSIMPLE%26utm_campaign%3Ds2e-ai%26ct%3Ds2e-ai&apn=com.google.android.apps.maps&amv=703000000&isi=585027354&ibi=com.google.Maps&ius=comgooglemapsurl&utm_source=app-invite&mt=8&pt=9008&utm_medium=SIMPLE&utm_campaign=s2e-ai&ct=s2e-ai&invitation_id=493454522602-820939b2-b93b-4fcc-b96e-176422bc243b" target="_blank"> -->
                    After Party! 🍕🍻🎉
                    <!-- </a> -->
                </div>
            </div>
        </div>

    </div>
</section>
