<!-- Portfolio Grid Section -->
    <section id="sessions" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sessions</h2>
                    <h3 class="section-subheading text-muted">We will update the list of sessions once the call for papers has closed. The un-conference talks will be updated on the site on the day of the event.</h3>
                </div>
            </div>

            <p class="long-text">
                We will have three parallel tracks on the day, some sessions and workshops will be given by google staff.
            </p>

            <!--div class="container-fluid">

                <div class="row">
                    <div class="col col-md-2">8:00am</div>
                    <div class="col col-md-10">
                        Registration
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">8:30am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Opening Keynote</div>
                              <div class="speaker-name"></div>
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">8:45am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Google I/O Keynote</div>
                               <div class="speaker-name"></div> 
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">9:00am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Google I/O Commentary and Q&amp;A</div>
                               <div class="speaker-name"></div> 
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">10:00am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-name">Break - Morning Tea</div>
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">10:30am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">WWDC Keynote</div>
                               <div class="speaker-name"></div> 
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">10:45am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">WWDC Commentary and Q&amp;A</div>
                               <div class="speaker-name"></div> 
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">11:45am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Un-conference Introduction</div>
                               <div class="speaker-name"></div> 
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">12:00am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-name">Lunch</div>
                               <div class="speaker-name"></div> 
                          </span>
                    </div>
                </div>

                <!-- <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">1:00pm</div>
                    <div class="col col-md-10 zero-horizontal-padding">
                      <div class="col col-xs-3">
                            <span>
                                <div class="event-venue-1">MC103</div>
                                <div class="event-name">The Places API</div>
                            </span>
                      </div>

                      <div class="col col-xs-3">
                            <span>
                                <div class="event-venue-2">AM102</div>
                                <div class="event-name">Cardboard &amp; VR</div>
                            </span>
                      </div>
                      <div class="col col-xs-3">
                            <span>
                                <div class="event-venue-3">AM103</div>
                                <div class="event-name">Test apps for non dev</div>
                            </span>
                      </div>
                      <div class="col col-xs-3">
                            <span>
                                <div class="event-venue-4">AM104</div>
                                <div class="event-name">iOS &amp; Android UX</div>
                            </span>
                      </div>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">1:40pm</div>
<div class="col col-md-10 zero-horizontal-padding">
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Firebase Storage</div>
                          </span>
                    </div>

                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-2">AM102</div>
                              <div class="event-name">WWDC Fieldnotes</div>
                          </span>
                    </div>
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-3">AM103</div>
                              <div class="event-name">Mobile tech interview</div>
                          </span>
                    </div>
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-4">AM104</div>
                              <div class="event-name">Navigation Design</div>
                          </span>
                    </div>
</div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">2:20pm</div>
<div class="col col-md-10 zero-horizontal-padding">
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Kotlin Helpers</div>
                          </span>
                    </div>

                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-2">AM102</div>
                              <div class="event-name">Android Wear</div>
                          </span>
                    </div>
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-3">AM103</div>
                              <div class="event-name">Notifications</div>
                          </span>
                    </div>
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-4">AM104</div>
                              <div class="event-name">iMessage Apps</div>
                          </span>
                    </div>
</div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">3:00pm</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-name">Break - Afternoon Tea</div>
                          </span>
                    </div>
                </div>


                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">3:40pm</div>
<div class="col col-md-10 zero-horizontal-padding">
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Building The Australian War Memorial</div>
                          </span>
                    </div>

                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-2">AM102</div>
                              <div class="event-name">Android MVP</div>
                          </span>
                    </div>
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-3">AM103</div>
                              <div class="event-name">Intro to libextobjc</div>
                          </span>
                    </div>
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-4">AM104</div>
                              <div class="event-name">Continous Integration</div>
                          </span>
                    </div>
</div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">4:20pm</div>
<div class="col col-md-10 zero-horizontal-padding">
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Smartphone Test Farm</div>
                          </span>
                    </div>

                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-2">AM102</div>
                              <div class="event-name">Firebase to grow userbase</div>
                          </span>
                    </div>
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-3">AM103</div>
                              <div class="event-name">Smart login</div>
                          </span>
                    </div>
                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-4">AM104</div>
                              <div class="event-name">Libraries &amp; frameworks</div>
                          </span>
                    </div>
</div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">5:00pm</div>
                    <div class="col col-md-10">
                        Closing Keynote
                    </div>
                </div>
                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2"></div>
                    <div class="col col-md-10">
                        After Party! 🍕🍻🎉
                    </div>
                </div>
            </div> -->

        </div>
    </section>
