<!-- Portfolio Grid Section -->
    <section id="sessions" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sessions</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <div class="col col-md-2">8:00am</div>
                    <div class="col col-md-10">
                        Registration
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">8:30am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Opening Keynote</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">8:45am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Google I/O Keynote</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">9:00am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Google I/O Commentary and Q&amp;A</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">10:00am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-name">Break - Morning Tea</div>
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">10:30am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">WWDC Keynote</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">10:45am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">WWDC Commentary and Q&amp;A</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">11:45am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Un-conference Introduction</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">12:00am</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-name">Lunch</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">1:00pm</div>

                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">The Places API</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>

                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-2">AM102</div>
                              <div class="event-name">Session 2</div>
                          </span>
                    </div>
                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-3">AM103</div>
                              <div class="event-name">Session 3</div>
                          </span>
                    </div>
                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-4">AM104</div>
                              <div class="event-name">Session 4</div>
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">1:40pm</div>

                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Firebase Storage</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>

                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-2">AM102</div>
                              <div class="event-name">Session 2</div>
                          </span>
                    </div>
                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-3">AM103</div>
                              <div class="event-name">Session 3</div>
                          </span>
                    </div>
                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-4">AM104</div>
                              <div class="event-name">Session 4</div>
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">2:20pm</div>

                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Smartphone Test Farm</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>

                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-2">AM102</div>
                              <div class="event-name">Session 2</div>
                          </span>
                    </div>
                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-3">AM103</div>
                              <div class="event-name">Session 3</div>
                          </span>
                    </div>
                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-4">AM104</div>
                              <div class="event-name">Session 4</div>
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">3:00pm</div>

                    <div class="col col-md-10">
                          <span>
                              <div class="event-name">Break - Afternoon Tea</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>
                </div>


                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">3:40pm</div>

                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Building The Australian War Memorial</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>

                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-2">AM102</div>
                              <div class="event-name">Session 2</div>
                          </span>
                    </div>
                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-3">AM103</div>
                              <div class="event-name">Session 3</div>
                          </span>
                    </div>
                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-4">AM104</div>
                              <div class="event-name">Session 4</div>
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col col-md-2">4:20pm</div>

                    <div class="col col-xs-3">
                          <span>
                              <div class="event-venue-1">MC103</div>
                              <div class="event-name">Kotlin Helpers</div>
                              <!-- <div class="speaker-name"></div> -->
                          </span>
                    </div>

                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-2">AM102</div>
                              <div class="event-name">Session 2</div>
                          </span>
                    </div>
                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-3">AM103</div>
                              <div class="event-name">Session 3</div>
                          </span>
                    </div>
                    <div class="col col-xs-2">
                          <span>
                              <div class="event-venue-4">AM104</div>
                              <div class="event-name">Session 4</div>
                          </span>
                    </div>
                </div>

                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">4:45pm</div>
                    <div class="col col-md-10">
                        Closing Keynote
                    </div>
                </div>
                <div style="border-top: 1px lightgray dashed"/>
                <div class="row">
                    <div class="col col-md-2">5:00pm</div>
                    <div class="col col-md-10">
                        After Party! 🍕🍻🎉
                    </div>
                </div>
            </div>

            <!-- <table class="table">
              <thead>
                <tr>
                  <td colspan="2">Time</th>
                </tr>
                <tr>
                  <td colspan="2">Session</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>8:00am</td>
                  <td>Registration. Come early to pick up your swag.</td>
                </tr>
                <tr>
                  <td>8:30am</td>
                  <td>Welcome</td>
                </tr>
                <tr>
                  <td>8:45am</td>
                  <td>I/O and WWDC Panel discussion and Q&A (with breaks)</td>
                </tr>
                <tr>
                  <td>12:00pm</td>
                  <td>Lunch</td>
                </tr>
                <tr>
                  <td>1:00pm</td>
                  <td>Sessions. Our speakers come from: Google, PaperKite, Powershop, Trade Me, and more. <br>We'll update this agenda with more details soon.</td>
                </tr>
                <tr>
                  <td>4:30pm</td>
                  <td>Wrap-up</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">&nbsp;</td>
                <tr>
                  <td colspan="2">Apart from lunch, we will also provide morning and afternoon tea.</td>
                </tr>
              </tfoot>
            </table> -->
        </div>
    </section>
