<!-- About Section -->
  <section id="speakers">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <h3 class="section-subheading text-muted">We will keep updating the list of speakers until the event.</h3>
            </div>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td colspan="2">We are truly privledged to present you with a fantastic selection of speakers.</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td>Ian Lewis (Google Japan)</td>
              <td>Google Cloud Platform - Firebase Storage</td>
            </tr>
            <tr>
              <td>Melby Ruarus (Google Australia)</td>
              <td>The Places API: Helping the Modern Bushwalker in the Urban Jungle</td>
            </tr>
            <tr>
              <td>Lucas Soares (Android Developer - Trade Me)</td>
              <td>Using Firebase to acquire and engage the right users at the right time</td>
            </tr>
            <tr>
              <td>Steven Tan (Android Developer - Powershop)</td>
              <td>Android Wear</td>
            </tr>
            <tr>
              <td>Farlei Heinen (Mobile Developer - PaperKite)</td>
              <td>Google Cardboard</td>
            </tr>
            <tr>
              <td>Leandro Persalta (Android Developer - Powershop)</td>
              <td>Migrating to MVP</td>
            </tr>
            <!--tr>
              <td>Will Townsend & Simon Cook (PaperKite & Trade Me)</td>
              <td>WWDC Fieldnotes</td>
            </tr-->
            <tr>
              <td>Josh Burton (Android Guild Lead - Trade Me)</td>
              <td>Smart Lock</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td>Ruth Brown (Head of UX - Trade Me)</td>
              <td>Panel</td>
            </tr>
            <tr>
              <td>Jason Willows (Product Owner of Mobile - Powershop)</td>
              <td>Panel</td>
            </tr>
            <tr>
              <td>Andrew Millar (Creative Director - PaperKite)</td>
              <td>Panel</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td>Kate Henderson (Mobile Developer - PaperKite)</td>
              <td>Moderator</td>
            <tr>
              <td>Nick Parfene (Head of Mobile - Trade Me)</td>
              <td>Moderator</td>
            </tr>
          </tfoot>
        </table>
      </div>
  </section>
