<!-- About Section -->
<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Speakers</h2>
        <h3 class="section-subheading text-muted zero-vertical-margin">To be announced</h3>
        <!--<h3 class="section-subheading">We are truly privileged to present you with a fantastic selection of speakers.-->
          <!--There will be more announcements closer to the date...</h3>-->
      </div>
    </div>

    <!--<div class="row text-center">-->
       <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">JW</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Julie Watson</h4>-->
        <!--<p class="text-muted">Trade Me</p>-->
        <!--<p class="large-text-one-line">How mobile phones have changed New Zealanders' lives and why it matters</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">CB</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Craig Box</h4>-->
        <!--<p class="text-muted">Google</p>-->
        <!--<p class="large-text-one-line">Containers, Kubernetes and Google Cloud</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">RR</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Rachel Radford</h4>-->
        <!--<p class="text-muted">Trade Me</p>-->
        <!--<p class="large-text-one-line">Design Systems</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">SJ</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Sam Jarman</h4>-->
        <!--<p class="text-muted">Carnival</p>-->
        <!--<p class="large-text-one-line">What's New in Push Notifications?</p>-->
      <!--</div>     -->
      <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">MA</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Mete Atamel</h4>-->
        <!--<p class="text-muted">Google</p>-->
        <!--<p class="large-text-one-line">Intro to gRPC: An open source RPC framework</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--<a href="#" target="_blank">-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">JM</i>-->
              <!--</span>-->
        <!--</a>-->
        <!--<h4 class="service-heading">Justin Mclean</h4>-->
        <!--<p class="text-muted">IoT Sydney</p>-->
        <!--<p class="large-text-one-line">How to Become an IoT Developer (and Have Fun!)</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">RL</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Rowan Livingstone</h4>-->
        <!--<p class="text-muted">Trade Me</p>-->
        <!--<p class="large-text-one-line">Drag and Drop in iOS 11</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">DM</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Dave McKelvie</h4>-->
        <!--<p class="text-muted">ikeGPS</p>-->
        <!--<p class="large-text-one-line">What is Android Things and why should you care</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">TB</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Thye Yeow Bok</h4>-->
        <!--<p class="text-muted">Google</p>-->
        <!--<p class="large-text-one-line">Best Practices in Building Chatbot using Firebase and API.AI.</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">CD</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Christie Davis</h4>-->
        <!--<p class="text-muted">Alphero</p>-->
        <!--<p class="large-text-one-line">Managing multi-source audio-playback in iOS</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">GP</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Glenn Parker</h4>-->
        <!--<p class="text-muted">Xero</p>-->
        <!--<p class="large-text-one-line">Building shared code across timezones</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
          <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
                <!--<span class="fa-stack fa-4x">-->
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <!--<i class="fa fa-stack-1x fa-inverse">FH</i>-->
                <!--</span>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--<h4 class="service-heading">Felipe Hoffa</h4>-->
          <!--<p class="text-muted">Google</p>-->
          <!--<p class="large-text-one-line">What can we learn from 750 billion GitHub events and 42 TB of code</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6">-->
        <!--&lt;!&ndash;<a href="#" target="_blank">&ndash;&gt;-->
              <!--<span class="fa-stack fa-4x">-->
                <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--<i class="fa fa-stack-1x fa-inverse">YL</i>-->
              <!--</span>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<h4 class="service-heading">Yan Li</h4>-->
        <!--<p class="text-muted">Fiserv Auckland</p>-->
        <!--<p class="large-text-one-line">s/*/swift (Replacing everything with Swift)</p>-->
      <!--</div> -->
    <!--</div>-->

    <br/><br/><br/>

    <div class="row text-center">
      <div class="col-xs-6">
        <!--<a href="#" target="_blank">-->
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-stack-1x fa-inverse">KH</i>
          </span>
        </a>
        <h4 class="service-heading">Kate Henderson</h4>
        <p class="text-muted">Mobile Developer - PaperKite</p>
        <p class="large-text-one-line">Moderator</p>
      </div>
      <div class="col-xs-6">
        <!--<a href="#" target="_blank">-->
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-stack-1x fa-inverse">NP</i>
          </span>
        <!--</a>-->
        <h4 class="service-heading">Nick Parfene</h4>
        <p class="text-muted">Head of Mobile - Trade Me</p>
        <p class="large-text-one-line">Moderator</p>
      </div>
    </div>

  </div>
</section>
