<!-- About Section -->
<section id="speakers" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Speakers</h2>
        <h3 class="section-subheading text-muted zero-vertical-margin">We are thrilled to welcome a diverse lineup to speakers this year.</h3>
        <!--<h3 class="section-subheading">We are truly privileged to present you with a fantastic selection of speakers.-->
          <!--There will be more announcements closer to the date...</h3>-->
      </div>
    </div>

    <br/><br/><br/>

    <div class="row text-center">
      <div class="col-xs-12">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/Zarah_Dominguez.jpg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Zarah Dominguez</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Keynote - 12 Years On: A Retrospective</p>
     </div>
   </div>

   <br/>

    <div class="row text-center">
      <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/TonyParrott.png">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Tony Parrott</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Mobile Testing, Automation, Manual or Hybrid</p>
     </div>
     <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <i class="fa fa-circle fa-stack-2x text-primary"></i>
               <i class="fa fa-stack-1x fa-inverse">MP</i>
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Michal Pearse</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Superheroes &amp; Forgetful teenagers: Remote Device Management for iOS</p>
     </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/luke.jpg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Luke Sleeman</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Build Better Android Apps with Vector Assets</p>
     </div>
     <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <i class="fa fa-circle fa-stack-2x text-primary"></i>
               <i class="fa fa-stack-1x fa-inverse">DM</i>
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Dave McKelvie</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Making Things do stuff</p>
     </div>
    </div>

  
    <div class="row text-center">
      <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/Mitchell.jpg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Mitchell Tillbrook</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Flutter from idea to app in minutes</p>
     </div>
     <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/BridgetCowie.jpg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Bridget Cowie</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Golang ❤️ Mobile</p>
     </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/sam.png">
               <!-- TODO :: Split photo -->
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Sam Jarman &amp; Jie Li</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Android and iOS: A 100% fully serious comparison by Jie Li and Sam Jarman</p>
     </div>
     <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/inaki.png">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Inaki Villar</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Dexs, R8 &amp; 3.2</p>
     </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/ilia-kopylov.jpg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Ilia Kopylov</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Breaking the ice with Natural Language Processing</p>
     </div>
     <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/nazlinaquadir.jpg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Nazlina Quadir</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">The Power of Storytelling - My Accidental Journey as a WomenTechmakers</p>
     </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/jethro.jpeg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Jethro Carr</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Scaling backend infrastructure for millions of phones</p>
     </div>
     <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/HyojinJung.png">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Hyojin Jung</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Wait, people still use email? - Boosting business with mobile email marketing</p>
     </div>
    </div>


    <div class="row text-center">
      <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <i class="fa fa-circle fa-stack-2x text-primary"></i>
               <i class="fa fa-stack-1x fa-inverse">GS</i>
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Gili Sharrock</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Custom vs native fonts in apps</p>
     </div>
     <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/Jen.jpg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Jennifer Doherty</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">But doesn’t everyone with a smartphone speak English?</p>
     </div>
    </div>


    <div class="row text-center">
      <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/enrique.jpeg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Enrique Manas Lopez</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">TensorFlow for Mobile Developers</p>
     </div>
     <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/bret-mcgowen.jpg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Bret McGowen</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Google's serverless tools for app backends, machine learning, big data</p>
     </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-6">
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/arzoo.JPG">
             </span>
       <h4 class="service-heading">Arzoo Syeddah</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">Collaborative company culture: The role of leaders in building and sustaining teams</p>
     </div>
     <div class="col-xs-6">
       <!-- <a href="#" target="_blank"> -->
             <span class="fa-stack fa-4x">
               <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
               <img class="speaker-photo" src="{{ site.baseurl }}img/speakers/IMG_1122.jpg">
             </span>
       <!-- </a> -->
       <h4 class="service-heading">Christie Davie &amp; Valerie Chan</h4>
       <p class="text-muted"></p>
       <p class="large-text-one-line">iRow: Practical Machine Learning in iOS</p>
     </div>
   </div>

    <br/>

    <!-- <div class="row text-center">
      <div class="col-xs-6">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-stack-1x fa-inverse">KH</i>
          </span>
        <h4 class="service-heading">Kate Henderson</h4>
        <p class="text-muted"></p>
        <p class="large-text-one-line">Moderator</p>
      </div>
      <div class="col-xs-6">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-stack-1x fa-inverse">NP</i>
          </span>
        <h4 class="service-heading">Nick Parfene</h4>
        <p class="text-muted"></p>
        <p class="large-text-one-line">Moderator</p>
      </div>
    </div> -->

  </div>
</section>
