<!-- About Section -->
<section id="sponsors" class="bg-light-gray">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Sponsors</h2>
        <!-- <h3 class="section-subheading text-muted">This event is made possible by these generous sponsors.</h3> -->
      </div>
    </div>

    <p class="text-center long-text">
      <a href="mailto:gdgwellington@gmail.com">Get in touch</a> with us if you are interested in supporting our event.
    </p>

      <!--<div class="d-flex flex-wrap flex-justify-center flex-items-center mb-6">-->
        <!--<div class="sponsor px-4 px-md-6 mx-xl-4 mb-2">-->
          <!--<a href="https://www.developers.google.com">-->
            <!--<img src="{{ site.baseurl }}img/sponsors/google.png">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="sponsor px-4 px-md-6 mx-xl-4 mb-2">-->
          <!--<a href="http://ventego-creative.co.nz/">-->
            <!--<img src="{{ site.baseurl }}img/sponsors/ventegocreative.png">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="sponsor px-4 px-md-6 mx-xl-4 mb-2">-->
          <!--<a href="http://www.paperkite.co.nz/">-->
            <!--<img src="{{ site.baseurl }}img/sponsors/paperkite.png">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="sponsor px-4 px-md-6 mx-xl-4 mb-2">-->
          <!--<a href="https://alphero.com/">-->
            <!--<img src="{{ site.baseurl }}img/sponsors/alphero.png">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="sponsor px-4 px-md-6 mx-xl-4 mb-2">-->
          <!--<a href="http://www.lilregie.com/">-->
            <!--<img src="{{ site.baseurl }}img/sponsors/lilregie.png">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="sponsor px-4 px-md-6 mx-xl-4 mb-2">-->
          <!--<a href="https://powershop.co.nz/">-->
            <!--<img src="{{ site.baseurl }}img/sponsors/powershop.png">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="sponsor px-4 px-md-6 mx-xl-4 mb-2">-->
          <!--<a href="https://www.trademe.co.nz/">-->
            <!--<img src="{{ site.baseurl }}img/sponsors/trademe.png">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="sponsor px-4 px-md-6 mx-xl-4 mb-2">-->
          <!--<a href="https://www.bnz.co.nz/">-->
            <!--<img src="{{ site.baseurl }}img/sponsors/bnz.png">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="sponsor px-4 px-md-6 mx-xl-4 mb-2">-->
          <!--<a href="http://www.pudneyonline.com/">-->
            <!--<img src="{{ site.baseurl }}img/sponsors/lee.png">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="sponsor px-4 px-md-6 mx-xl-4 mb-2">-->
          <!--<a href="http://zoomy.co.nz/">-->
            <!--<img src="{{ site.baseurl }}img/sponsors/zoomy.png">-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->

  </div>
</section>
