<div class="portfolio-modal modal fade" id="talkModalKeynote" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Keynote - 12 Years On: A Retrospective</h2>
                        <hr class="star-primary">
                        
                        <h4 class="service-heading">Zarah Dominguez</h4>
                        <p class="text-muted">
                            Zarah is an Android developer based in Sydney, Australia. She started doing mobile development work in 2007, and has been on a constant rollercoaster of emotions with the Android platform since the days of Donut. 
 
                            Recognised as a Google Developer Expert for Android, she helps organise GDG Sydney and the Android User Group Sydney. She loves board games, books, and dessert, and has a knack for eating breakfast food for dinner.
                        </p>
                        
                        <p class="large">
                            September 2018 marked my 12th year as software engineer. From someone who hated (and almost failed) programming in uni, this is a unique milestone. Technology and best practices have changed a lot since then, and I have changed a lot too.

                            From being a self-taught developer to being a Google Developer Expert, I have been through some interesting highs and lows throughout the years -- including moving to a new country!
                            
                            In this talk I will share some of the lessons I have learned along the way that helped shape my current outlook as a developer and as a team member.
                        </p>
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>